<div class="card">
    <div class="card-body">
        <form [formGroup]="angForm" novalidate>
            <div *ngIf="angForm.controls['FrontendID'].invalid"
                class="alert alert-danger">
                <div *ngIf="angForm.controls['FrontendID'].errors.required">
                    Frontend ID Value Required
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Frontend ID</label>
                <input type="text" class="form-control" formControlName="FrontendID" #FrontendID value="{{frontendID}}" />
            </div>
            <div class = "row">
                    <div class="form-group col-md-4">
                            <select class="form-control" formControlName = "PlatformSelect" (change)=changeSelected($event)>
                                    <option [ngValue]=null disabled>Select a Platform</option>
                                    <option *ngFor = "let request of infoResponses" value={{request.id}}
                                    >{{request.id}}</option>
                            </select>
                    </div>
                    <div class="form-group col-md-4">
                        <select class="form-control" formControlName = "HardwareSelect" (change)=changeSelectedHw($event)>
                                <option [ngValue]=null disabled>Select a Hardware</option>
                                <option *ngFor = "let request of requestsHardware" value={{request.id}}
                                >{{request.id}}</option>
                        </select>
                    </div>
                </div>    
            <div class="form-group">
                <label class="col-md-4">Platfrom URL </label>
                <input type="text" class="form-control" formControlName="PlatformURL" value="{{platUrl}}" #PlatformURL/>
            </div>
            <div class="form-group">
                <label class="col-md-4">Request DateTime</label>
                <input type="text" class="form-control" formControlName="RequestDateTime" #RequestDateTime />
            </div>
            
            <div class="form-group">
                <label class="col-md-4">Status</label>
                <input type="text" class="form-control" formControlName="SensorStatus" #SensorStatus />
            </div>
            <div class="form-group">
                <label class="col-md-4">Frequency</label>
                <input type="text" class="form-control" formControlName="SensorFrequency" #SensorFrequency/>
            </div>
            <div class="form-group" *ngIf="hardwareType == 'output'">
                <label class="col-md-4">SensorText</label>
                <input type="text" class="form-control" formControlName="SensorText" #SensorText />
            </div>

            <hr />
            <div class="form-group">
                <button (click)="sendChangeRequest()" type="submit" class="btn btn-primary"
                [disabled]="angForm.invalid">Request
                    Info</button>
            </div>
        </form>
    </div>
</div>